@model DistributedToDo.Web.Models.AccountModel

@{
    ViewBag.Title = @Resources.Resource.Account;
}

<h2 class="col-md-12 col-sm-12">@Resources.Resource.ViewUserInformation: @Model.FirstName @Model.MiddleName @Model.LastName</h2>
<div class="form-horizontal col-md-offset-0">
    <div>
        <img src="@Model.Photo" alt="@Resources.Resource.Photo" class="img-circle" width="150" height="150"/>
    </div>
    <div>
    <h3>@Resources.Resource.Email</h3>
    <h4>@Model.Email</h4>
    </div>

    <div>
        <h3>@Resources.Resource.FirstName</h3>
        <h4>@Model.FirstName</h4>
    </div>

    @if (Model.MiddleName != null)
    {
        <div>
            <h3>@Resources.Resource.MiddleName</h3>
            <h4>@Model.MiddleName</h4>
        </div>
    }

    <div>
        <h3>@Resources.Resource.LastName</h3>
        <h4>@Model.LastName</h4>
    </div>

    <div>
        <h3>@Resources.Resource.Number</h3>
        <h4>@Model.Number</h4>
    </div>

    @if (Model.Comment != null)
    {
        <div>
            <h3>@Resources.Resource.Comment</h3>
            <h4>@Model.Comment</h4>
        </div>
    }
</div>
<div>
    <a href="@Url.Action("Edit")" class="btn btn-default">@Resources.Resource.Edit</a>
</div>