@model DistributedToDo.Web.Models.AccountModel

@{
    ViewBag.Title = @Resources.Resource.Account;
}
<script>
    document.getElementById("profile-nav").classList.add('active');
</script>
<div>
        <ul class="list-group">
            <li class="list-group-item list-group-item-heading h4 list-group-item-info">
                    @Resources.Resource.ViewUserInformation
            </li>
            <li class="list-group-item">
                @if (Model.Photo != null)
        {
            <img src="@Model.Photo" alt="@Resources.Resource.Error" class="img-circle" width="150" height="150" />
}
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">@Resources.Resource.Email</div>
                    <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">@Model.Email</div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">@Resources.Resource.FirstName</div>
                    <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">@Model.FirstName</div>
                </div>
            </li>

            @if (Model.MiddleName != null)
    {

            <li class="list-group-item">
                <div class="row">
                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">@Resources.Resource.MiddleName</div>
                    <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">@Model.MiddleName</div>
                </div>
            </li>

}
            <li class="list-group-item">
                <div class="row">
                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">@Resources.Resource.LastName</div>
                    <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">@Model.LastName</div>
                </div>
            </li>


        <li class="list-group-item">
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">@Resources.Resource.Number</div>
                <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">@Model.Number</div>
            </div>
        </li>


            @if (Model.Comment != null)
    {

        <li class="list-group-item">
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">@Resources.Resource.Comment</div>
                <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">@Model.Comment</div>
            </div>
        </li>
}
        </ul>
</div>
        <a href="@Url.Action("Edit")" class="btn btn-default col-xs-12 col-lg-2 col-md-2 col-sm-4">@Resources.Resource.Edit</a>