@{
    ViewBag.Title = "Home Page";
}
<script>
    document.getElementById("home-nav").classList.add('active');
</script>

<div id="headerwrap">
    @Resources.Resource.AllYourTasks @Resources.Resource.WhereverYouAre
</div>
<div id="bodywrap">
    <div class="block">
        @Resources.Resource.WeGotSupport @ViewBag.UsersCount @Resources.Resource.SupportUsers
    </div>
    <div class="block">
        @Resources.Resource.WithOurHelp @ViewBag.TasksCount @Resources.Resource.OurHelpTasks
    </div>
</div>
<link rel="stylesheet" href="~/Content/Home.css" />