@model DistributedToDo.Web.Models.TaskModel

@{
    ViewBag.Title = Resources.Resource.Edit;
}
<script>
    document.getElementById("tasks-nav").classList.add('active');
</script>
<h2>@Resources.Resource.Edit</h2>
<hr />
@using (Html.BeginForm("Edit", "Task", FormMethod.Post))
{
<div class="form-horizontal">

    @Html.HiddenFor(model => model.Id)

    <div class="form-group">
        <span class="control-label col-md-2">@Resources.Resource.Name</span>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <span class="control-label col-md-2">@Resources.Resource.Description</span>
        <div class="col-md-10">
            <textarea class="form-control" rows="3" id="Description" name="Description" cols="20">@Model.Description</textarea>
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <span class="control-label col-md-2">@Resources.Resource.Date</span>
        <div class="col-md-10">
            <input class="form-control" type="date" name="Date" value="@Model.Date.ToString("yyyy-MM-dd")" />
        </div>
    </div>
    <div class="form-group">
        <span class="control-label col-md-2">@Resources.Resource.Time</span>
        <div class="col-md-10">
            <input class="form-control" type="time" name="Time" value="@Model.Time.ToString(@"hh\:mm")" />
        </div>
    </div>
    <input type="hidden" id="geoLat" name="GeoLat" value="@Model.GeoLat" />
    <input type="hidden" id="geoLong" name="GeoLong" value="@Model.GeoLong" />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value=@Resources.Resource.Edit class="btn btn-default" />
        </div>
    </div>
</div>
    <div>@Resources.Resource.SelectPlace</div>
    <div id="map"></div>
}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCUfLVNhJKzJWBFEzqpkgIYwmdkIlRbsh4&callback=initMapEdit"
        async defer>
</script>
@Scripts.Render("~/Scripts/map.js")